* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 8px;
}
.input-address {
    flex: 0.8;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../img/home.png);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
}
.buttons {
    display: flex;
    align-items: center;
}
.button {
    padding: 8px 16px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
}
.button-user {
    background: #1890FF;
    border: none;
    color: #FFFFFF;
    margin-right: 10px;
}
.button-card-text {
    margin-right: 10px;
}
.button-shopping-cart {
    border: 1px solid #D9D9D9;
    color: #595959;
}
.button-icon {
    margin-right: 6px;
}
.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.section-heading {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}
.input-search {
    width: 306px;
    height: 34px;
    left: 1014px;
    top: 483px;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;  
}
.section-title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    color: #000000;
    margin-right: 30px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: 0.2s;
}
.card:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.20);
    transform: scale(1.025);
    transition: 0.2s;
 }
 .card-image {
    width: 385px;
    height: 250px;
    border-radius: 7px 7px 0px 0px;
 }
.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 25px;
    padding-right: 25px;
}
.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    color: black;
}
.card-title-reg {
    font-weight: 400; 
    margin-bottom: 10px;
}
.card-tag {
    background: #262626;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
    padding: 1px 8px;
 }
.card-info {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.card-buttons {
    display: flex;
    align-items: center;
}
.button-user:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.20);
    transform: scale(1.025);
    transition: 0.2s;
 }
.button-shopping-cart:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.20);
    transform: scale(1.025);
    transition: 0.2s;
 }
.card-price {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 32px;
}
.restaurant-info {
    display: flex;
    align-items: center;
}
.rating {
    margin-right: 26px;
    color: #FFC107;
    font-size: 18px;
    line-height: 32px;
    background-image: url(../img/Vector\ \(2\).svg);
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position-y: 7px;
}
.price, 
.category {
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.price {
    margin-right: 10px;
}
.price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}
.ingredients {
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}
.footer {
    padding: 60px 0;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav {
    margin-left: 35px;
    margin-right: auto;
}
.footer-link {
    display: inline-block;
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}
.footer-link:not(:last-child) {
    margin-right: 15px;
}
.social-links {
    display: flex;
    align-items: center;
}
.social-link:not(:last-child) {
    margin-right: 21px;
}

@media (max-width: 1366px) {
    .container {
        max-width: 960px;
    }
    .rating {
        margin-right: 15px;
    }
    .cards {
        justify-content: space-around;
     }
    .category, 
    .price {
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .cards{ 
        justify-content: space-between;
     }
    .card {
        flex-basis: 49%;
    }
    .card-image {
        width: 100%;
    }
    .footer-link {
        font-size: 16px;
    }
    .nav-item {
        font-size: 16px;
     }
}
@media (max-width: 768px) {
    .container {
        max-width: 570px;
    }
    .button-text {
        display: none;
    }
    .restaurant-info {
        flex-wrap: wrap;
    }
    .card {
        flex-basis: 95%;
        margin: auto;
        margin-bottom: 30px;
    }
    .card-info {
        flex-wrap: wrap; 
    }
    .card-title {
        font-size: 18px;
    }
    .card-image {
        width: 100%;
        height: auto; 
    }
    .input-address {
        flex: 0.7;
     }
     .button-user {
         margin-left: 7px;
     }
}
@media (max-width: 578px) {
    .container {
        width: 90%;
     }
     .header {
        flex-wrap: wrap;
     }
     .buttons {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: auto;
        justify-content: flex-end;
     }
     .input-address {
        margin-top: 15px;
        order: 5;
        flex: 1;
     }
     .section-heading {
        flex-wrap: wrap;
     }
     .section-title {
        font-size: 26px;
        flex-basis: 100%;
        margin-bottom: 15px;
     }
     .input-search {
        flex: 1;
     }
     .card-image {
        width: 100%;
        height: auto;
     }
     .footer {
        padding: 30px 0px;
     }
     .footer-block {
         align-items: flex-start;
     }
     .footer-nav {
        margin-left: 0;
        margin-right: 0;
        order: 0;
        display: flex;
        flex-direction: column;
     }
     .footer-logo {
         margin-right: 15px;
         order: 1;
     }
     .social-links {
         order: 2;
     }
  }
  @media (max-width: 480px) {
        .button-icon {
            margin: 0;
        }
        .buttons {
            min-height: 40px;
        }
        .section-heading {
            flex-wrap: wrap;
        }
         .footer-block {
             flex-wrap: wrap;
             flex-direction: column;
             align-items: center;
         }
         .footer-logo {
             order: 0;
             margin-bottom: 20px;
         }
         .footer-nav {
             margin-bottom: 20px;
             text-align: center;
         }
         .footer-link:not(:last-child) {
             margin-right: 0;
         }
  }
  @media (max-width: 375px) {
     .input-address {
        margin-top: 20px;
     }
     .footer-nav {
        flex-wrap: wrap;
        flex-basis: 70%;
     }
     .link:not(:last-child) {
        margin-right: 15px;
     }
     .heading {
        padding: 25px;
     }
 }
 
 @media (max-width: 320px) {
    .footer-nav {
        flex-wrap: wrap;
        flex-basis: 70%;
     }
    .link:not(:last-child) {
        margin-right: 15px;
     }
     .heading {
        padding: 25px;
     }
 }
